
<style>
 
label{
	color:black;
}
div.button{	
}
#background{
	background-color:silver;
}
#location{
	text-align:center;
	background-color:grey;
}
#process{
	
	
	border-radius:1000px solid gray;
	
	color:rgb(60, 60, 60);
	padding:10px 10px 10px 10px ;
	
}
#picture{
	margin-left:150px;
}
#process{
	
	
	border-radius:1000px solid gray;
	
	color:rgb(60, 60, 60);
	padding:10px 10px 10px 10px ;
	
}
#footer{
	
   
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   font-size:50px;
   border:2px solid goldenrod;
   border-radius:9px;
}
#a{
	
	list_style_type:none;
	padding :10px 40px 10px 40px;
	border-radius:10px;
    color: white;
    border:2px solid lightgreen;
    text-decoration: none;
	background-color:green;
	margin-left:150px;
}
input{
	color:gold;
}
#form{
	border:2px solid goldenrod;
	border-radius:9px;
	background-color:lightgray;
}
#loans{
	margin-top:20px;
	margin-left:10px;
}
#call{
	
	 border :none;
	text-align:center;
	
	color:rgb(60, 60, 60);
	
}
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;  
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

</style>